<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="_csrf" th:content="${_csrf.token}" sec:authorize="isAuthenticated()"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}" sec:authorize="isAuthenticated()"/>
	<title>Application Title</title>
	<script type="text/javascript" src="../../../resources/vendor/jquery/jquery-1.11.3.min.js" th:src="@{/resources/vendor/jquery/jquery-1.11.3.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
</head>
<body>
	<h1>Spring 4 Web MVC Archetype</h1>
	<h2 th:utext="${message}">Welcome message.</h2>
</body>
</html>
