<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="true">

  <!-- Properties -->
  <property name="ENCODER_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{60} - %msg%n" />

  <!-- Console appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>${ENCODER_PATTERN}</Pattern>
    </encoder>
  </appender>

  <!-- Root Logger -->
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>